* {
  background-color: #facb0b;
  margin: 0 auto;
  font-family: 'Caveat', cursive;
  font-family: 'Quicksand', sans-serif;
}

h1 {
  font-family: 'Caveat', cursive;
  font-family: 'Quicksand', sans-serif;
  color: #590696;
  font-size: 68px;
  text-align: center;
}

.subtitle {
  font-family: 'Caveat', cursive;
  font-family: 'Quicksand', sans-serif;
  color: #590696;
  font-size: 26px;
  text-align: center;
}

.prompt-background {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  border: 5px solid #C70A80;
  background-color: #590696;
  color: aliceblue;
  font-size: 24px;
  max-width: 80%;
  min-height: 400px;
  border-radius: 15%;
}

input {
  background-color: white;
  margin: 12px 12px 12px 12px;
}

label {
  margin: 12px 12px 12px 12px;
}

#spacer {
  height: 40px;
}